body {
    background-image: url(nbafondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}


/* Aula virtual 480 píxeles */
@media (min-width: 300px) and (max-width: 480px){
    .contenedor {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .noticias1, .noticias2, .noticias3 {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Noticias más juntas */
    }

    h1 {
        font-size: 40px;
    }

    figcaption {
        font-size: 1em;
    }

    .footer-left {
        text-align: left;
        margin: 10px 0;
    }

    .redes-container {
        flex-direction: row;
        justify-content: center;
    }

    .footer-right {
        text-align: right;
        margin: 10px 0;
    }

    .footer-left h2 {
        text-align: left;
        font-size: 1.3em;
    }

    .footer-left p {
        font-size: 0.9em;
    }

    .footer-right ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-right ul li {
        margin-bottom: 8px;
    }

    .footer-left {
        margin-left: 0;
    }

    .footer-right {
        margin-right: 0;
    }

    .noticias2 {
        margin-right: 0;
    }

    .noticias3 {
        margin-bottom: 30px;
    }
}

/* Teléfono grande */
@media (min-width: 481px) and (max-width: 767px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .noticias1, .noticias2, .noticias3 {
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }

    h1 {
        font-size: 50px;
    }

    figcaption {
        font-size: 1.2em;
    }

    .footer-left {
        text-align: left;
        margin: 10px 0;
    }

    .redes-container {
        flex-direction: row;
        justify-content: center;
    }

    .footer-right {
        text-align: right;
        margin: 10px 0;
    }

    .footer-left h2 {
        text-align: left;
        font-size: 1.5em;
    }

    .footer-left p {
        font-size: 1em;
    }

    .footer-right ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-right ul li {
        margin-bottom: 10px;
    }

    .footer-left {
        margin-left: 0;
    }

    .footer-right {
        margin-right: 0;
    }

    .noticias2 {
        margin: 50px 0 50px 20px;
    }

    .noticias3 {
        margin-bottom: 50px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .noticias1, .noticias2, .noticias3 {
        flex-direction: column;
        align-items: center;
        gap: 20px; /* Noticias más juntas */
    }

    h1 {
        font-size: 60px;
    }

    figcaption {
        font-size: 1.4em;
    }

    .footer-left, .footer-right {
        text-align: center;
        margin: 20px 0;
    }

    .footer-left h2 {
        font-size: 1.8em;
    }

    .footer-left p {
        font-size: 1.2em;
    }

    .footer-right ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-right ul li {
        margin-bottom: 15px;
    }

    .footer-left {
        margin-left: 0;
    }

    .footer-right {
        margin-right: 0;
    }

    .noticias2 {
        margin: 120px 0 120px 100px;
    }

    .noticias3 {
        margin-bottom: 80px;
    }
}


h1 {

    text-align: center;
    font-size: 70px;
    font-family: sans-serif;

}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    gap: 90px;

    width: 100%;
    box-sizing: border-box;
    
}

.Boston,
.Warriors,
.Bulls,
.Lakers,
.Spurs {
    margin: 0;
}

.noticias1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 350px;

    padding: 0 20px;
}

.noticias2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 320px;
    margin: 150px;
    padding: 0 20px;
    margin-left: 180px;
}

.noticias3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 350px;

    padding: 0 20px;
    margin-bottom: 100px;
}

.noticia {
    text-align: center;
    margin: 0 20px;
}

.noticia-imagen {
    border-radius: 30px;

}


figcaption {
    font-size: 1.5em;
    margin-top: 10px;
}

ol {
    width: 80%;
    margin: auto;
    padding: 0;
    background-color: #ffffff80;

}

li {
    color: rgb(42, 105, 221);
    list-style-type: none;
    /*list-style-type: none; quita los numeros de los enlaces*/

    font-size: 1.5em;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --facebook: #3b5999;
    --instagram: #ee4c6a;
    --twitter: #55acee;
    --youtube: #c4302b;
    --tiktok: #00f2ea;
    --snapchat: #FFFC00;
}

.redes-container {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #ffffff80;
    color: #000000;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;

}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

.redes-container ul li .youtube:hover {
    background: var(--youtube);
}

.redes-container ul li .tiktok:hover {
    background: var(--tiktok);
}

.redes-container ul li .snapchat:hover {
    background: var(--snapchat);
}

footer {
    background-color: #ffffff80;
 
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
    margin-left: 40px;
}

.footer-right {
    text-align: right;
    margin-right: 40px;
    
}
:root {
    --enlaces: #1D428A;
    --nosotros: rgb(252, 246, 246);
    --privacidad: 	#C8102E;
  
}

.footer-right ul li a {
    display: block;
    padding: 0 5px;
    background: #ffffff80;
    color: #000000;
    line-height: 35px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
    text-decoration: none;
}

.footer-right ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;

}
.footer-right ul li .enlaces:hover {
    background: var(--enlaces);
}

.footer-right ul li .nosotros:hover {
    background: var(--nosotros);
}

.footer-right ul li .privacidad:hover {
    background: var(--privacidad);
}

