body {
    width: 100%;
    margin: auto;
    border: 1px solid  rgb(252, 205, 53);
     max-width: 100%;
    overflow-x: hidden;
}


h1 {
    text-align: center;
    font-size: 2.3em;
    
    background-color: rgb(252, 205, 53);
    /*quitar el margen arriba del todo sin espacios*/
    margin: 0;
    padding: 10px 15px;
    
color: rgb(198, 54, 241);;
}

main {
    border: 1px solid rgb(198, 54, 241);
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: rgb(252, 205, 53);
    border-top: 10px solid rgb(198, 54, 241);
    border-bottom: 10px solid rgb(198, 54, 241);
}

ol {
    width: 80%;
    margin: auto;
    padding: 0;
    background-color:rgb(252, 205, 53);
}

li {
    color: rgb(198, 54, 241);
    border-bottom: 2px solid #ffffff;
    list-style-type: none;
    /*list-style-type: none; quita los numeros de los enlaces*/
    padding: 15px 10px;
    font-size: 1.5em; 
}
li:hover{
   border-right: 200px solid rgb(198, 54, 241);
}
h2:target{
    
    text-decoration:  5px solid  rgb(252, 205, 53);
}
h2 {
    border-top: 10px solid  rgb(252, 205, 53);
    margin: 0;
    padding-top: 10px;
    font-size: 1.3em;

    color: rgb(198, 54, 241);
}

p {
    text-align: justify;
    margin-right: 40px;
}


span{
    color: red;
    font-variant:small-caps ;
    /*convertir minusculas a mayusculas con font-variants */
}


a{
    color: inherit;
    /*para que no cambie de color en la navegacion a azul al pulsar*/
    text-decoration: none;
}

figure {
    text-align: center;
}
.centrado{
    text-align: center;
}
.video{
    justify-content: center;
    align-items: center; 
    
   text-align: center;
   margin-bottom: 50px;
   margin-top: 50px;
    
}


footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        margin-right: 10px;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }

    figure img {
        width: 100%;
        height: auto;
    }

    nav ol {
        width: 100%;
    }

    li {
        padding: 8px 4px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.1em;
    }

    p {
        margin-right: 20px;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }

    figure img {
        width: 100%;
        height: auto;
    }

    nav ol {
        width: 100%;
    }

    li {
        padding: 10px 5px;
    }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 2.1em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        margin-right: 30px;
    }

    .video iframe {
        width: 100%;
        height: auto;
    }

    figure img {
        width: 100%;
        height: auto;
    }

    nav ol {
        width: 90%;
    }

    li {
        padding: 12px 8px;
    }
}