body {
    width: 100%;
    margin: auto;
    border: 1px solid  rgb(191, 47, 56);
}


h1 {
    text-align: center;
    font-size: 2.3em;
    
    background-color: rgb(191, 47, 56);
    /*quitar el margen arriba del todo sin espacios*/
    margin: 0;
    padding: 10px 15px;
    
color: rgb(6, 25, 34);
}

main {
    border: 1px solid rgb(6, 25, 34);
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: rgb(191, 47, 56);
    border-top: 10px solid rgb(6, 25, 34);
    border-bottom: 10px solid rgb(6, 25, 34);
}

ol {
    width: 80%;
    margin: auto;
    padding: 0;
    background-color:rgb(191, 47, 56);
}

li {
    color: rgb(6, 25, 34);
    border-bottom: 2px solid #ffffff;
    list-style-type: none;
    /*list-style-type: none; quita los numeros de los enlaces*/
    padding: 15px 10px;
    font-size: 1.5em; 
}
li:hover{
   border-right: 200px solid rgb(245, 152, 20);
}
h2:target{
    
    text-decoration:  5px solid  rgb(191, 47, 56);
}
h2 {
    border-top: 10px solid  rgb(191, 47, 56);
    margin: 0;
    padding-top: 10px;
    font-size: 1.3em;

    color: rgb(6, 25, 34);
}

p {
    text-align: justify;
    margin-right: 40px;
}


span{
    color: red;
    font-variant:small-caps ;
    /*convertir minusculas a mayusculas con font-variants */
}


a{
    color: inherit;
    /*para que no cambie de color en la navegacion a azul al pulsar*/
    text-decoration: none;
}

figure {
    text-align: center;
}
.centrado{
    text-align: center;
}
.video{
    justify-content: center;
    align-items: center; 
    
   text-align: center;
   margin-bottom: 50px;
   margin-top: 50px;
    
}


footer{
    background-color: rgb(191, 47, 56);
    color: rgb(6, 25, 34);
    text-align: center;
    padding: 10px;
}